{% extends 'private_base.html' %}

{% block content %}


<div class="container mt-5">

    <div class="card shadow p-4">

        <h1 class="mb-4">Student Details</h1>

        <table class="table table-bordered">

            <tr>
                <th>Name</th>
                <td>{{ student.name }}</td>
            </tr>

            <tr>
                <th>Roll Number</th>
                <td>{{ student.roll_no }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>

            <tr>
                <th>Course</th>
                <td>{{ student.course }}</td>
            </tr>

        </table>

        <a href="{% url 'student_list' %}"
           class="btn btn-secondary">

           Back

        </a>

    </div>

</div>

{% endblock content %}
